/* ページ全体 */

body {
  background-color: #0f1923;
}

/** ヘッダー */

.header__container {
  display: flex;
  justify-content: flex-end;
}

.header__logo {
}

.header__nav {
}

.nav-item1 {
  align-self: flex-end;
}
.nav-item2 {
  align-self: flex-end;
}
.nav-item3 {
  align-self: flex-end;
}

.about {
}

.about__title {
  color: chartreuse;
}

.header__nav {
  width: 400px;
}

.nav-item {
}

/* メンバー */
.member-section .members {
}

.member {
}

.member__image img {
  display: flex;
}

.member__name {
}

/* ゲーム */

/* お問い合わせ */
