/* ページ全体 */

body {
  background-color: #0f1923;
}

/** ヘッダー */

.header__container {
  background-color: #0f1923;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.nav-item a {
  text-decoration: none;
  color: darkgreen;
}

.about {
}

.about__title {
  color: chartreuse;
}

.about__description {
  color: white;
  width: 50%;
}

/* メンバー */
.member-section {
  background-color: white;
}
.section-title {
  color: chartreuse;
  align-self: start;
}

.member {
}

.members {
  display: flex;
}

.member__image img {
  width: 50%;
}

.member__image {
  background-color: #0f1923;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.member__name {
  background-color: #0f1923;
  color: white;
}

/* ゲーム */
.game-section {
  background-color: #0f1923;
}

/* お問い合わせ */
.contact-section {
  background-color: hotpink;
}
